html
  font-size: 1px
*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  font-size: 16rem
a li ul ol
  font-size: inherit
  color: inherit
  font-weight: inherit
  font-style: inherit
  display: block
a
  text-decoration: none
ul li ol
  list-style: none
img
  width: 100%
  height: 100%